/SMF/SMF.xcu
/SMF/smf.py
/SMF.oxt
/SMF/morningstar.py
/SMF/META-INF/manifest.xml
/SMF/description.xml
/.pydevproject
/SMF/Xsmf.rdb
/.project
/SMF/yahoo.py
/src/bs4/builder/_html5lib.pyc
/src/bs4/builder/_htmlparser.pyc
/src/bs4/builder/__init__.pyc
/src/bs4/builder/_lxml.pyc
/src/bs4/dammit.pyc
/src/bs4/element.pyc
/src/bs4/__init__.pyc
/yhcodes.txt
